{% if latest_hostels %}
<div class="carousel-container">
  <div class="house-cards" id="hostelCards">
    {% for hostel in latest_hostels %}
    <a href="#" style="text-decoration: none; color: inherit;">
      <div class="house-card">
        <img
          src="{{ hostel.images.first.image.url }}"
          alt="{{ hostel.name }}"
          class="house-image"
          loading="lazy"
        />
        <div class="house-details">
          <p class="house-price">
            Ksh {{ hostel.pricing }} / {{ hostel.billing_cycle }}
          </p>
          <h4 class="house-name">{{ hostel.name }}</h4>
          <p class="house-location">
            <i class="bxr bx-location"></i> {{ hostel.location }}
          </p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="no-hostels">
  <p>No hostels found.</p>
</div>
{% endif %}
