{% load price_filters %} {% if single_hostels %}
<div class="carousel-container">
  <div class="house-cards" id="single-hostelCards">
    {% for hostel in single_hostels %}
    <a href="{% url 'hostel_detail' hostel.slug %}" style="text-decoration: none; color: inherit">
      <div class="house-card">
        <img
          src="{{ hostel.images.first.image.url }}"
          alt="{{ hostel.name }}"
          class="house-image"
          loading="lazy"
        />
        <div class="house-details">
          <p class="house-price">
            Ksh {{ hostel.pricing|format_price }} / {{ hostel.billing_cycle }}
          </p>
          <h5 class="house-name">{{ hostel.name }}</h5>
          <p class="house-location">
            <i class="bxr bx-location"></i> {{ hostel.location }}
          </p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="no-hostels">
  <h5>No Single Rooms Available</h5>
  <p>
    Currently no single room hostels are available. Please check back later or
    explore other categories.
  </p>
</div>
{% endif %}
