{% extends 'base.html' %} {% block title %}Find Your Perfect Student Housing -
JoouStay{% endblock %} {% load static %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/core/home.css' %}">

<div class="hero" style="background: url('{% static "images/default_images/background.jpg" %}') center/cover;">

  <div class="hero-content">
    <h1 class="hero-title">JoouStay</h1>

    <p class="hero-subtitle">
      Search for student hostels and housing options close to JOOUST campus.
    </p>

    <div class="search-container">
      <form class="search-form" method="GET" action="{% url 'home' %}">
        <div class="search-input-group">
          <i class="bx bx-search search-icon"></i>
          <input
            type="text"
            class="search-input"
            name="q"
            placeholder="Search by name, location, price..."
            value="{{ query }}"
          />
          <button type="submit" class="search-btn">
            <i class="bx bx-search"></i>
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="hostels">
  <h3 class="house-listing-title">House/Hostel Listing</h3>
  <section class="latest-houses">
    <div class="section-title">
      <h2 class="section-title-tag">Latest Houses</h2>  
      <div class="prev-next" id="carousel-controls">
        <button class="prev-btn" id="prevBtn"><i class="bx bx-chevron-left"></i></button>
        <button class="next-btn" id="nextBtn"><i class="bx bx-chevron-right"></i></button>
      </div>
    </div>
    
    {% if latest_hostels %}
    <div class="carousel-container">
      <div class="house-cards" id="hostelCards">
        {% for hostel in latest_hostels %}
        <div class="house-card">
          <img
            src="{{ hostel.images.first.image.url }}"
            alt="{{ hostel.name }}"
            class="house-image"
            loading="lazy"
          />
          <div class="house-details">
            <p class="house-price">Ksh {{ hostel.pricing }} / {{ hostel.billing_cycle }}</p>
            <h4 class="house-name">{{ hostel.name }}</h4>
            <p class="house-location"><i class='bxr  bx-location'></i>  {{ hostel.location }}</p>
          </div>    
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="no-hostels">
      <p>No hostels found.</p>
    </div>
    {% endif %}
  </section>
</div>

<script src="{% static 'js/core/home.js' %}"></script>
{% endblock %}